﻿<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewData["Title"]</title>

    <link href="~/plugins/bootstrap/bootstrap.css" asp-append-version="true" rel="stylesheet" />
    <link href="~/plugins/font-awesome/font-awesome.min.css" asp-append-version="true" rel="stylesheet">
    <link href="~/plugins/animate-css/animate.css" asp-append-version="true" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet" />
</head>

<body class="gray-bg">
    @RenderBody()
    <script src="~/plugins/jquery/jquery.js" asp-append-version="true"></script>
    <script src="~/plugins/bootstrap/bootstrap.js" asp-append-version="true"></script>
</body>

</html>
