﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    @RenderSection("Styles", required: false)
    <link href="~/plugins/bootstrap/bootstrap.css" asp-append-version="true" rel="stylesheet" />
    <link href="~/plugins/font-awesome/font-awesome.min.css" asp-append-version="true" rel="stylesheet">
    <link href="~/plugins/animate-css/animate.css" asp-append-version="true" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet" />

</head>
<body>
    <!-- Wrapper-->
    <div id="wrapper">
        <!-- Navigation -->

        @await Component.InvokeAsync("MenuView")
        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg">
            <!-- Top Navbar -->
            @Html.Partial("_TopNavbar")
            <!-- Main view  -->
            @RenderBody()
            <!-- Footer -->
            @Html.Partial("_Footer")
        </div>
        <!-- End page wrapper-->
        <!-- Right Sidebar -->
        @Html.Partial("_RightSidebar")
    </div>
    <!-- End wrapper-->
    <script src="~/plugins/jquery/jquery.js" asp-append-version="true"></script>
    <script src="~/plugins/bootstrap/bootstrap.js" asp-append-version="true"></script>
    <script src="~/plugins/metismenu/metisMenu.js" asp-append-version="true"></script>
    <script src="~/plugins/jquery-slimscroll/jquery.slimscroll.js" asp-append-version="true"></script>
    <script src="~/js/inspinia.js" asp-append-version="true"></script>
    <script src="~/plugins/pace-js/pace.js" asp-append-version="true"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
