﻿@using MVC;
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img-circle" src="~/Images/profile_small.jpg" />
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">David Williams</strong>
                            </span> <span class="text-muted text-xs block">Art Director <b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="@Url.Action("Profile", "AppViews")">Profile</a></li>
                        <li><a href="@Url.Action("Contacts", "AppViews")">Contacts</a></li>
                        <li><a href="@Url.Action("Inbox", "Mailbox")">Mailbox</a></li>
                        <li class="divider"></li>
                        <li><a href="@Url.Action("Login", "Pages")">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li class="@Html.IsSelected(controller: "Dashboards")">
                <a href="@Url.Action("Dashboard_1", "Dashboards")"><i class="fa fa-th-large"></i> <span class="nav-label" data-i18n="nav.dashboard">Dashboards</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Dashboards", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "Dashboard_1")"><a href="@Url.Action("Dashboard_1", "Dashboards")">Dashboard v.1</a></li>
                    <li class="@Html.IsSelected(action: "Dashboard_2")"><a href="@Url.Action("Dashboard_2", "Dashboards")">Dashboard v.2</a></li>
                    <li class="@Html.IsSelected(action: "Dashboard_3")"><a href="@Url.Action("Dashboard_3", "Dashboards")">Dashboard v.3</a></li>
                    <li class="@Html.IsSelected(action: "Dashboard_4_1")"><a href="@Url.Action("Dashboard_4_1", "Dashboards")">Dashboard v.4</a></li>
                    <li class="@Html.IsSelected(action: "Dashboard_5")"><a href="@Url.Action("Dashboard_5", "Dashboards")">Dashboard v.5</a></li>
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "Layouts")">
                <a href="@Url.Action("Index", "Layouts")"><i class="fa fa-diamond"></i> <span class="nav-label" data-i18n="nav.layouts">Layouts</span> <span class="label label-primary pull-right">NEW</span></a>
            </li>
            <li class="@Html.IsSelected(controller: "Graphs")">
                <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label" data-i18n="nav.graphs">Graphs</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Graphs", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "Flot")"><a href="@Url.Action("Flot", "Graphs")">Flot Charts</a></li>
                    <li class="@Html.IsSelected(action: "Morris")"><a href="@Url.Action("Morris", "Graphs")">Morris.js Charts</a></li>
                    <li class="@Html.IsSelected(action: "Rickshaw")"><a href="@Url.Action("Rickshaw", "Graphs")">Rickshaw Charts</a></li>
                    <li class="@Html.IsSelected(action: "Chartjs")"><a href="@Url.Action("Chartjs", "Graphs")">Chart.js</a></li>
                    <li class="@Html.IsSelected(action: "Chartist")"><a href="@Url.Action("Chartist", "Graphs")">Chartist</a></li>
                    <li class="@Html.IsSelected(action: "C3charts")"><a href="@Url.Action("C3charts", "Graphs")">c3 charts</a></li>
                    <li class="@Html.IsSelected(action: "Peity")"><a href="@Url.Action("Peity", "Graphs")">Peity Charts</a></li>
                    <li class="@Html.IsSelected(action: "Sparkline")"><a href="@Url.Action("Sparkline", "Graphs")">Sparkline Charts</a></li>
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "Mailbox")">
                <a href="#"><i class="fa fa-envelope"></i> <span class="nav-label" data-i18n="nav.mailbox">Mailbox </span><span class="label label-warning pull-right">16/24</span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Mailbox", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "Inbox")"><a href="@Url.Action("Inbox", "Mailbox")">Inbox</a></li>
                    <li class="@Html.IsSelected(action: "EmailView")"><a href="@Url.Action("EmailView", "Mailbox")">Email view</a></li>
                    <li class="@Html.IsSelected(action: "ComposeEmail")"><a href="@Url.Action("ComposeEmail", "Mailbox")">Compose email</a></li>
                    <li class="@Html.IsSelected(action: "EmailTemplates")"><a href="@Url.Action("EmailTemplates", "Mailbox")">Email templates</a></li>
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "Metrics")">
                <a href="@Url.Action("Index", "Metrics")"><i class="fa fa-pie-chart"></i> <span class="nav-label" data-i18n="nav.metrics">Metrics</span> </a>
            </li>
            <li class="@Html.IsSelected(controller: "Widgets")">
                <a href="@Url.Action("Index", "Widgets")"><i class="fa fa-flask"></i> <span class="nav-label" data-i18n="nav.widgets">Widgets</span> </a>
            </li>
            <li class="@Html.IsSelected(controller: "Forms")">
                <a href="#"><i class="fa fa-edit"></i> <span class="nav-label" data-i18n="nav.forms">Forms</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Forms", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "BasicFroms")"><a href="@Url.Action("BasicFroms", "Forms")">Basic form</a></li>
                    <li class="@Html.IsSelected(action: "Advanced")"><a href="@Url.Action("Advanced", "Forms")">Advanced Plugins</a></li>
                    <li class="@Html.IsSelected(action: "Wizard")"><a href="@Url.Action("Wizard", "Forms")">Wizard</a></li>
                    <li class="@Html.IsSelected(action: "FileUpload")"><a href="@Url.Action("FileUpload", "Forms")">File Upload</a></li>
                    <li class="@Html.IsSelected(action: "TextEditor")"><a href="@Url.Action("TextEditor", "Forms")">Text Editor</a></li>
                    <li class="@Html.IsSelected(action: "Autocomplete")"><a href="@Url.Action("Autocomplete", "Forms")">Autocomplete</a></li>
                    <li class="@Html.IsSelected(action: "Markdown")"><a href="@Url.Action("Markdown", "Forms")">Markdown</a></li>
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "AppViews")">
                <a href="#"><i class="fa fa-desktop"></i> <span class="nav-label" data-i18n="nav.appviews">App Views</span>  <span class="pull-right label label-primary">SPECIAL</span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "AppViews", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "Contacts")"><a href="@Url.Action("Contacts", "AppViews")">Contacts</a></li>
                    <li class="@Html.IsSelected(action: "Profile")"><a href="@Url.Action("Profile", "AppViews")">Profile</a></li>
                    <li class="@Html.IsSelected(action: "Profile2")"><a href="@Url.Action("Profile2", "AppViews")">Profile v.2</a></li>
                    <li class="@Html.IsSelected(action: "Contacts2")"><a href="@Url.Action("Contacts2", "AppViews")">Contacts v.2</a></li>
                    <li class="@Html.IsSelected(action: "Projects")"><a href="@Url.Action("Projects", "AppViews")">Projects</a></li>
                    <li class="@Html.IsSelected(action: "ProjectDetail")"><a href="@Url.Action("ProjectDetail", "AppViews")">Project detail</a></li>
                    <li class="@Html.IsSelected(action: "ActivityStream")"><a href="@Url.Action("ActivityStream", "AppViews")">Activity stream</a></li>
                    <li class="@Html.IsSelected(action: "TeamsBoard")"><a href="@Url.Action("TeamsBoard", "AppViews")">Teams board</a></li>
                    <li class="@Html.IsSelected(action: "SocialFeed")"><a href="@Url.Action("SocialFeed", "AppViews")">Social feed</a></li>
                    <li class="@Html.IsSelected(action: "Clients")"><a href="@Url.Action("Clients", "AppViews")">Clients</a></li>
                    <li class="@Html.IsSelected(action: "OutlookView")"><a href="@Url.Action("OutlookView", "AppViews")">Outlook view</a></li>
                    <li class="@Html.IsSelected(action: "VoteList")"><a href="@Url.Action("VoteList", "AppViews")">Vote list</a></li>
                    <li class="@Html.IsSelected(action: "FileManager")"><a href="@Url.Action("FileManager", "AppViews")">File manager</a></li>
                    <li class="@Html.IsSelected(action: "Calendar")"><a href="@Url.Action("Calendar", "AppViews")">Calendar</a></li>
                    <li class="@Html.IsSelected(action: "IssueTracker")"><a href="@Url.Action("IssueTracker", "AppViews")">Issue tracker</a></li>
                    <li class="@Html.IsSelected(action: "Blog")"><a href="@Url.Action("Blog", "AppViews")">Blog</a></li>
                    <li class="@Html.IsSelected(action: "Article")"><a href="@Url.Action("Article", "AppViews")">Article</a></li>
                    <li class="@Html.IsSelected(action: "FAQ")"><a href="@Url.Action("FAQ", "AppViews")">FAQ</a></li>
                    <li class="@Html.IsSelected(action: "Timeline")"><a href="@Url.Action("Timeline", "AppViews")">Timeline</a></li>
                    <li class="@Html.IsSelected(action: "PinBoard")"><a href="@Url.Action("PinBoard", "AppViews")">Pin board</a></li>
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "Pages")">
                <a href="#"><i class="fa fa-files-o"></i> <span class="nav-label" data-i18n="nav.otherpages">Other Pages</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Pages", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "SearchResults")"><a href="@Url.Action("SearchResults", "Pages")">Search results</a></li>
                    <li class="@Html.IsSelected(action: "LockScreen")"><a href="@Url.Action("LockScreen", "Pages")">Lockscreen</a></li>
                    <li class="@Html.IsSelected(action: "Invoice")"><a href="@Url.Action("Invoice", "Pages")">Invoice</a></li>
                    <li class="@Html.IsSelected(action: "Login")"><a href="@Url.Action("Login", "Pages")">Login</a></li>
                    <li class="@Html.IsSelected(action: "Login_2")"><a href="@Url.Action("Login_2", "Pages")">Login v.2</a></li>
                    <li class="@Html.IsSelected(action: "ForgotPassword")"><a href="@Url.Action("ForgotPassword", "Pages")">Forgot password</a></li>
                    <li class="@Html.IsSelected(action: "Register")"><a href="@Url.Action("Register", "Pages")">Register</a></li>
                    <li class="@Html.IsSelected(action: "NotFoundError")"><a href="@Url.Action("NotFoundError", "Pages")">404 Page</a></li>
                    <li class="@Html.IsSelected(action: "InternalServerError")"><a href="@Url.Action("InternalServerError", "Pages")">500 Page</a></li>
                    <li class="@Html.IsSelected(action: "EmptyPage")"><a href="@Url.Action("EmptyPage", "Pages")">Empty page</a></li>
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "Miscellaneous")">
                <a href="#"><i class="fa fa-globe"></i> <span class="nav-label" data-i18n="nav.miscellaneous">Miscellaneous</span><span class="label label-info pull-right">NEW</span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Miscellaneous", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "Notification")"><a href="@Url.Action("Notification", "Miscellaneous")">Notification</a></li>
                    <li class="@Html.IsSelected(action: "NestableList")"><a href="@Url.Action("NestableList", "Miscellaneous")">Nestable list</a></li>
                    <li class="@Html.IsSelected(action: "AgileBoard")"><a href="@Url.Action("AgileBoard", "Miscellaneous")">Agile board</a></li>
                    <li class="@Html.IsSelected(action: "Timeline_second_version")"><a href="@Url.Action("Timeline_second_version", "Miscellaneous")">Timeline v.2</a></li>
                    <li class="@Html.IsSelected(action: "Diff")"><a href="@Url.Action("Diff", "Miscellaneous")">Diff</a></li>
                    <li class="@Html.IsSelected(action: "PdfViewer")"><a href="@Url.Action("PdfViewer", "Miscellaneous")">PDF Viewer</a></li>
                    <li class="@Html.IsSelected(action: "I18support")"><a href="@Url.Action("I18support", "Miscellaneous")">i18 support</a></li>
                    <li class="@Html.IsSelected(action: "SweetAlert")"><a href="@Url.Action("SweetAlert", "Miscellaneous")">Sweet alert</a></li>
                    <li class="@Html.IsSelected(action: "IdleTimer")"><a href="@Url.Action("IdleTimer", "Miscellaneous")">Idle timer</a></li>
                    <li class="@Html.IsSelected(action: "Truncate")"><a href="@Url.Action("Truncate", "Miscellaneous")">Truncate</a></li>
                    <li class="@Html.IsSelected(action: "PasswordMeter")"><a href="@Url.Action("PasswordMeter", "Miscellaneous")">Password meter</a></li>
                    <li class="@Html.IsSelected(action: "Spinners")"><a href="@Url.Action("Spinners", "Miscellaneous")">Spinners</a></li>
                    <li class="@Html.IsSelected(action: "SpinnersUsage")"><a href="@Url.Action("SpinnersUsage", "Miscellaneous")">Spinners usage</a></li>
                    <li class="@Html.IsSelected(action: "LiveFavicon")"><a href="@Url.Action("LiveFavicon", "Miscellaneous")">Live favicon</a></li>
                    <li class="@Html.IsSelected(action: "Forum_view")"><a href="@Url.Action("Forum_view", "Miscellaneous")">Forum view</a></li>
                    <li class="@Html.IsSelected(action: "GoogleMaps")"><a href="@Url.Action("GoogleMaps", "Miscellaneous")">Google maps</a></li>
                    <li class="@Html.IsSelected(action: "Datamaps")"><a href="@Url.Action("Datamaps", "Miscellaneous")">Datamaps</a></li>
                    <li class="@Html.IsSelected(action: "SocialButtons")"><a href="@Url.Action("SocialButtons", "Miscellaneous")">Social buttons</a></li>
                    <li class="@Html.IsSelected(action: "CodeEditor")"><a href="@Url.Action("CodeEditor", "Miscellaneous")">Code editor</a></li>
                    <li class="@Html.IsSelected(action: "ModalWindow")"><a href="@Url.Action("ModalWindow", "Miscellaneous")">Modal window</a></li>
                    <li class="@Html.IsSelected(action: "Clipboard")"><a href="@Url.Action("Clipboard", "Miscellaneous")">Clipboard</a></li>
                    <li class="@Html.IsSelected(action: "TextSpinners")"><a href="@Url.Action("TextSpinners", "Miscellaneous")">Text spinners</a></li>
                    <li class="@Html.IsSelected(action: "Validation")"><a href="@Url.Action("Validation", "Miscellaneous")">Validation</a></li>
                    <li class="@Html.IsSelected(action: "Tree_view")"><a href="@Url.Action("Tree_view", "Miscellaneous")">Tree view</a></li>
                    <li class="@Html.IsSelected(action: "LoadingButtons")"><a href="@Url.Action("LoadingButtons", "Miscellaneous")">Loading buttons</a></li>
                    <li class="@Html.IsSelected(action: "Chat_view")"><a href="@Url.Action("Chat_view", "Miscellaneous")">Chat view</a></li>
                    <li class="@Html.IsSelected(action: "Masonry")"><a href="@Url.Action("Masonry", "Miscellaneous")">Masonry</a></li>
                    <li class="@Html.IsSelected(action: "Tour")"><a href="@Url.Action("Tour", "Miscellaneous")">Tour</a></li>
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "UIElements")">
                <a href="#"><i class="fa fa-flask"></i> <span class="nav-label" data-i18n="nav.uielements">UI Elements</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "UIElements", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "Typography")"><a href="@Url.Action("Typography", "UIElements")">Typography</a></li>
                    <li class="@Html.IsSelected(action: "Icons")"><a href="@Url.Action("Icons", "UIElements")">Icons</a></li>
                    <li class="@Html.IsSelected(action: "DraggablePanels")"><a href="@Url.Action("DraggablePanels", "UIElements")">Draggable Panels</a></li>
                    <li class="@Html.IsSelected(action: "ResizablePanels")"><a href="@Url.Action("ResizablePanels", "UIElements")">Resizable Panels</a></li>
                    <li class="@Html.IsSelected(action: "Buttons")"><a href="@Url.Action("Buttons", "UIElements")">Buttons</a></li>
                    <li class="@Html.IsSelected(action: "Video")"><a href="@Url.Action("Video", "UIElements")">Video</a></li>
                    <li class="@Html.IsSelected(action: "TablesPanels")"><a href="@Url.Action("TablesPanels", "UIElements")">Panels</a></li>
                    <li class="@Html.IsSelected(action: "Tabs")"><a href="@Url.Action("Tabs", "UIElements")">Tabs</a></li>
                    <li class="@Html.IsSelected(action: "NotificationsTooltips")"><a href="@Url.Action("NotificationsTooltips", "UIElements")">Notifications & Tooltips</a></li>
                    <li class="@Html.IsSelected(action: "HelperClasses")"><a href="@Url.Action("HelperClasses", "UIElements")">Helper css classes</a></li>
                    <li class="@Html.IsSelected(action: "BadgesLabelsProgress")"><a href="@Url.Action("BadgesLabelsProgress", "UIElements")">Badges, Labels, Progress</a></li>
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "GridOptions")">
                <a href="@Url.Action("Index", "GridOptions")"><i class="fa fa-laptop"></i> <span class="nav-label" data-i18n="nav.gridoptions">Grid options</span></a>
            </li>
            <li class="@Html.IsSelected(controller: "Tables")">
                <a href="#"><i class="fa fa-table"></i> <span class="nav-label" data-i18n="nav.tables">Tables</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Tables", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "StaticTables")"><a href="@Url.Action("StaticTables", "Tables")">Static Tables</a></li>
                    <li class="@Html.IsSelected(action: "DataTables")"><a href="@Url.Action("DataTables", "Tables")">Data Tables</a></li>
                    <li class="@Html.IsSelected(action: "FooTables")"><a href="@Url.Action("FooTables", "Tables")">Foo Table</a></li>
                    <li class="@Html.IsSelected(action: "jqGrid")"><a href="@Url.Action("jqGrid", "Tables")">jqGrid</a></li>
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "Ecommerce")">
                <a href="#"><i class="fa fa-shopping-cart"></i> <span class="nav-label" data-i18n="nav.ecommerce">E-commerce</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Ecommerce", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "ProductsGrid")"><a href="@Url.Action("ProductsGrid", "Ecommerce")">Products grid</a></li>
                    <li class="@Html.IsSelected(action: "ProductsList")"><a href="@Url.Action("ProductsList", "Ecommerce")">Products list</a></li>
                    <li class="@Html.IsSelected(action: "ProductEdit")"><a href="@Url.Action("ProductEdit", "Ecommerce")">Product edit</a></li>
                    <li class="@Html.IsSelected(action: "ProductDetail")"><a href="@Url.Action("ProductDetail", "Ecommerce")">Product detail</a></li>
                    <li class="@Html.IsSelected(action: "Cart")"><a href="@Url.Action("Cart", "Ecommerce")">Cart</a></li>
                    <li class="@Html.IsSelected(action: "Orders")"><a href="@Url.Action("Orders", "Ecommerce")">Orders</a></li>
                    <li class="@Html.IsSelected(action: "Payments")"><a href="@Url.Action("Payments", "Ecommerce")">Credit Card form</a></li>
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "Gallery")">
                <a href="#"><i class="fa fa-picture-o"></i> <span class="nav-label" data-i18n="nav.gallery">Gallery</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Gallery", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "BasicGallery")"><a href="@Url.Action("BasicGallery", "Gallery")">Lightbox Gallery</a></li>
                    <li class="@Html.IsSelected(action: "SlickCarusela")"><a href="@Url.Action("SlickCarusela", "Gallery")">Slick Carusela</a></li>
                    <li class="@Html.IsSelected(action: "BootstrapCarusela")"><a href="@Url.Action("BootstrapCarusela", "Gallery")">Bootstrap Carusela</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-sitemap"></i> <span class="nav-label" data-i18n="nav.menulevels">Menu Levels </span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#">Third Level <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#">Second Level Item</a></li>
                    <li>
                        <a href="#">Second Level Item</a>
                    </li>
                    <li>
                        <a href="#">Second Level Item</a>
                    </li>
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "CSSAnimations")">
                <a href="@Url.Action("Index", "CSSAnimations")"><i class="fa fa-magic"></i> <span class="nav-label" data-i18n="nav.animations">CSS Animations </span><span class="label label-info pull-right">62</span></a>
            </li>
            <li class="special_link @Html.IsSelected(controller: " Landing")">
                <a href="@Url.Action("Index", "Landing")"><i class="fa fa-star"></i> <span class="nav-label" data-i18n="nav.landing">Landing page</span></a>
            </li>
        </ul>
    </div>
</nav>