﻿@using MVC;
@model MVC.ViewModel.Navigator.MenuViewModel
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img-circle" src="~/Images/profile_small.jpg" />
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">David Williams</strong>
                            </span> <span class="text-muted text-xs block">Art Director <b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="@Url.Action("Profile", "AppViews")">Profile</a></li>
                        <li><a href="@Url.Action("Contacts", "AppViews")">Contacts</a></li>
                        <li><a href="@Url.Action("Inbox", "Mailbox")">Mailbox</a></li>
                        <li class="divider"></li>
                        <li><a href="@Url.Action("Login", "Pages")">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            @{

                foreach (var item in Model.MenuList.Where(x=>x.ParentID==null))
                {
                    <li class="@Html.IsSelected(controller: @item.Controller)">
                        <a href="@Url.Action(@item.ActionName, @item.Controller)">
                            @*<i class="fa fa-th-large"></i>*@
                            <span class="nav-label" data-i18n="nav.@item.Controller.ToLower()">@item.Name</span>
                            @{
                                if (item.IsParent)
                                {
                                    <span class="fa arrow"></span>
                                }
                            }
                        </a>
                        @{ 
                            if (Model.MenuList.Where(x => x.ParentID == item.ID).Count() > 0)
                            {
                        <ul class="nav nav-second-level collapse @Html.IsSelected(controller: @item.Controller, cssClass: "in")">
                            @{
                                foreach (var sub in Model.MenuList.Where(x => x.ParentID == item.ID))
                                {
                            <li class="@Html.IsSelected(action: sub.ActionName)"><a href="@Url.Action(sub.ActionName, sub.Controller)">@sub.Name</a></li>
                                }
                            }
                        </ul>
                            }
                        }
                    </li>

                }
            }
        </ul>
    </div>
</nav>